@keyframes appear_nav { from { margin-left:0vw; } to { margin-left:25vw; }  }
@keyframes hide_nav { from { margin-left:25vw; } to { margin-left:0vw; }  }


* {
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 180, 72);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* NAVIGATION */
#btn_nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 50px;
    left: -25vw;
    width: 25vw;
}

#list_countries {
    background-color: white;
    width: 25vw;
    height: 100vh;
    overflow: scroll;
    text-align: center;
    list-style: none;
}

.countries_show {
    animation: 0.5s ease-in-out appear_nav;
    margin-left: 25vw;
}

.countries_hide {
    animation: 0.5s ease-in-out hide_nav;
    margin-left: 0vw;
}

.country {
    overflow: hidden;
}

.country:hover {
    background-color: grey;
    cursor: pointer;
}



h1 {
    margin-bottom: 50px;
}

h2 {
    margin-top: 50px;
}

#country_input {
    border-radius: 20px;
}

#search_button {
    border-radius: 20px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}