@keyframes appear_nav { from { margin-left:0vw; } to { margin-left:50vw; }  }
@keyframes hide_nav { from { margin-left:50vw; } to { margin-left:0vw; }  }


* {
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* NAVIGATION */
#btn_nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}

nav {
    position: absolute;
    top: 30px;
    left: -50vw;
    width: 50vw;
}

#list_countries {
    background: #FF4B2B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(201, 24, 65), #FF4B2B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(201, 24, 65), #FF4B2B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid white;
    width: 50vw;
    height: calc(96vh - 30px);
    overflow: scroll;
    text-align: center;
    list-style: none;
    padding-top: 30px;
    font-size: 11px;
}

.countries_show {
    animation: 0.5s ease-in-out appear_nav;
    margin-left: 50vw;
}

.countries_hide {
    animation: 0.5s ease-in-out hide_nav;
    margin-left: 0vw;
}

.country {
    overflow: hidden;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
}

#country_head_column {
    background: rgb(201, 24, 65);
    border: 1px solid white;
    position: fixed;
    width: calc(50vw - 13px);
    margin-top: -30px;
    border-radius: 5px;
    background-color: rgb(73, 0, 0);
}

.info_country {
    font-weight: bold;
    flex: 4;
}

.info_cases {
    flex: 2;
}

.info_deaths {
    /* background-color: rgba(255, 0, 0, 0.5); */
    color: red;
    flex: 2;
}

.info_recovered {
    /* background-color: rgba(0, 128, 0, 0.5); */
    color: green;
    flex: 2;    
}




h1 {
    line-height: 20vh;
    font-size: 50px;
}
h2 {
    display: none;
}
#country_input {
    border-radius: 20px;
}
#search_button {
    border-radius: 20px;
}
.input_line {
    height: 5vh;
}
#results {
    border-radius: 20px;
    width: 90vw;
    height: 0;
    margin: 4vh auto;
    background: rgb(201, 24, 65);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(116, 8, 107), rgb(201, 24, 65));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(116, 8, 107), rgb(201, 24, 65)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#country {
    justify-content: center;
    line-height: 7vh;
}
.result {
    line-height: 5vh;
    display: flex;
    flex-direction: row;
}
.label_result {
    visibility: hidden;
    text-align: right;
    flex: 1;
    padding-right: 4px;
}
.number_result {
    flex: 1;
    text-align: left;
    padding-left: 4px;
}


/* IN THE WORLD */
#in_the_world {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    
}
#itw_title {
    position: absolute;
    line-height: 5vh;
    width: 100vw;
}
#in_the_world>div {
    flex: 1;
    margin-top: 5vh;
}
#in_the_world>div>.result {
    line-height: 3vh;
    display: flex;
    flex-direction: row;
}
#in_the_world>div>.result>.itw_label {
    flex: 1;
    text-align: right;
}
#in_the_world>div>.result>.number_result {
    flex: 1;
    text-align: left;
}

@media only screen and (min-width: 850px) {
    #btn_nav {
        display: none;
    }
    nav {
        left: 0;
        top: 0;
        width: 20vw;
    }
    #list_countries {
        width: 20vw;
        height: 100vh;
        padding-top: 30px;
        font-size: 14px;
    }
    #country_head_column {
        width: 20vw;
        margin-top: -30px;
    }
    .country:hover {
        background-color: grey;
        cursor: pointer;
    }

    #in_the_world {
        display: initial;
        position: absolute;
        top: 0;
        right: 0;
        width: 15vw;
        height: 250px;
        border: 1px solid white;
        border-radius: 20px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }
    #in_the_world>div {
        margin-top: 0;
    }
    #itw_title {
        position: initial;
        line-height: 30px;
        /* margin: auto; */
        width: auto;
    }


    h1 {
        line-height: 20vh;
        font-size: 70px;
    }
    #search_button {
        cursor: pointer;
    }
    #results {
        width: 50vw;
        margin: 5vh auto;
        font-size: 25px;
    }
    #results>.result {
        line-height: 7vh;
    }
}